.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}


.table>tbody>tr.danger>td,.table>tbody>tr.danger>th,.table>tbody>tr>td.danger,.table>tbody>tr>th.danger,.table>tfoot>tr.danger>td,.table>tfoot>tr.danger>th,.table>tfoot>tr>td.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>thead>tr.danger>th,.table>thead>tr>td.danger,.table>thead>tr>th.danger{
			background-color:#ff5555
}

.table>tbody>tr.success>td,.table>tbody>tr.success>th,.table>tbody>tr>td.success,.table>tbody>tr>th.success,.table>tfoot>tr.success>td,.table>tfoot>tr.success>th,.table>tfoot>tr>td.success,.table>tfoot>tr>th.success,.table>thead>tr.success>td,.table>thead>tr.success>th,.table>thead>tr>td.success,.table>thead>tr>th.success{
	background-color:#66FF66
}



.table-hover>tbody>tr.danger:hover>td,.table-hover>tbody>tr.danger:hover>th,.table-hover>tbody>tr:hover>.danger,.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover{
			background-color:#ff0000
}

.table-hover>tbody>tr.success:hover>td,.table-hover>tbody>tr.success:hover>th,.table-hover>tbody>tr:hover>.success,.table-hover>tbody>tr>td.success:hover,.table-hover>tbody>tr>th.success:hover{
	background-color:#00FF00
}

.no-gutter > [class*='col-'] {
		    padding-right:0;
				    padding-left:0;
}


#hl	{
	font-size: 120pt;
	font-style: italic;
	color:blue;
	}

table.cluster {
  text-align:left;
	font-size: 8pt;
  border:2px 
	height:1%
  overflow:auto;
}

#cluster {
  text-align:left;
	margin:auto;
	width:100%;
	display: block;
  padding-left:10px;
  height:30vh;
  border:2px  
  inset #cccccc;
  overflow:auto;
}
#qsotable {
	border-collapse: collapse;
}

	.qsotable tr { border: none; }
	.qsotable td {
			  border-right: solid 1px black; 
				border-left: solid 1px black;
	}

//#main_wrap { 
//    display: table;
//}

#sidebar {
    background:white;
    min-width: 150px;
    display: table-cell;
}

#content {
    background:white;
    display: table-cell;
    width: 100%;
}
