<?php
// hostname of mysql-server
$hostname="localhost";
// mysql-username
$dbuser="cqrlog";
// mysql-passwort
$dbpass="password123";
// default database of cqrlog, dont change unless you know what you are doing!
$db="cqrlog_common";
// default-mode/rst
$defaultmode="CW";
$default_cw_rapport="599";
$default_ssb_rapport="59";
// this is the default log (override: log_id=N)
$defaultlog="1";
// count of qsos to show per default in the tables
$defaultcount="50";
// enable public log, true or false
$publog_enabled=true;
// debug-mode
$debugmode=false;
?>
