# this file shows, how to setup your own cluster-cache to speed up your log. 
# if you want, you may use hamqth.dl8bh.de/dxc_csv.php which caches 15s
server {
    listen *:80;
    listen [::]:80;
    listen *:443 ssl;
    listen [::]:443 ssl;
    server_name hamqth.dl8bh.de; 
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
    access_log /var/log/nginx-cqrweblog-access.log;
    error_log /var/log/nginx-hamqth-error.log debug;

        root /dev/null; 

        index /dxc_csv.php;
        location /dxc_csv.php {
        proxy_cache STATIC;
        proxy_set_header Host www.hamqth.com;
        proxy_ignore_headers    Set-Cookie Cache-Control Expires;
        proxy_hide_header       Set-Cookie;
        proxy_hide_header       Cache-Control;
        proxy_set_header        Cookie "";
        proxy_pass https://www.hamqth.com ;
        proxy_buffering on;
        proxy_cache_valid any      15s;
        add_header X-Proxy-Cache $upstream_cache_status;
        proxy_cache_use_stale updating;
        proxy_cache_methods POST GET;
        proxy_cache_key $host$request_uri;
        #proxy_cache_key $host$request_uri|$request_body;
        proxy_read_timeout 1s;
        }
        
}

